body {
  background: #181A20;
  overflow: scroll; /* create scroll bar if content overflows */
  word-wrap: break-word; /* break long words into multiple lines */
  font-family: 'Nunito', Arial, sans-serif; /* Changed from Arial, sans-serif to 'Nunito', Arial, sans-serif */
  font-weight: bolder;
}

header {
  margin-top: 3vw;
  z-index: 100;
  color: #fff;
  text-align: center;
  align-items: center;
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}

#profile-pic {
  margin-left: 3vw;
  margin-right: 5vw;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid gray;
}

#home {
  margin-right: 5vw;
  color: #B0BEC5;
  font-size: 1.25rem;
  font-weight: bolder;
}

#tasksAndBalances {
  margin-right: 5vw;
  color: #B0BEC5;
  font-weight: bolder;
  font-size: 1.25rem;
}

#messages {
  margin-right: 5vw;
  color: white;
  font-size: 1.563rem;
  font-weight: bolder;
  border-bottom: 3px solid white;
  padding-bottom: 10px; /* adjust as needed */
}

nav {
  display: flex;
  align-items: center;
  font-family: 'Inter';
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}


.hidden {
  top: -100px;
}

nav a, #search-bar, .icon-button , #log-out-button{
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hidden nav a, .hidden #search-bar, .hidden .icon-button{
  opacity: 0;
}


#search-bar {
  font-family: 'Inter';
  border: none;
  outline: none;
  margin-left: 17vw;
  margin-right: 5vw;
  border-radius: 30px;
  width: 300px;
  height: 35px;
  padding: 9px 40px 9px 20px;
  color: #B0BEC5;
  background-color: #343645;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
  background-position: calc(100% - 13px) center;
  background-repeat: no-repeat;
}

#search-bar::placeholder {
  color: #B0BEC5;
  font-weight: 500;
  font-family: 'Spartan';
}
.search-container {
  position: relative;
  display: flex;
}
#search-friend{
  padding-right: 40px;
  font-family: 'Inter';
  border: none;
  outline: none;
  width: 13vw;
  height: 2vh;
  padding: 9px 40px 9px 20px;
  color: #B0BEC5;
  background-color: #343645;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: none;
}
#search-friend::placeholder {
  color: #B0BEC5;
  font-weight: 500;
  font-family: 'Spartan';
}
.fa-search {
  font-weight: lighter;
}

.form{
  margin-right: 5vw;
  margin-left: 13vw;
}

#submit-btn{
  color: #B0BEC5;
  font-weight: 500;
  font-family: 'Spartan';
  width: 3vw; /* Adjust the width of the button as needed */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #343645;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#submit-btn:hover{
  cursor: pointer;
}

.search-result{
  position: absolute;
  top: 15vh;
  right: 15%;
  font-family: 'Spartan';
  background-color: #343645;
  border-radius: 20px;
  width: 23%;
  height: auto;
  position: absolute;
  color: white;
  box-sizing: border-box;
  padding:1.5%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.308);
}

.search-result h3{
  font-size: smaller;
  font-weight: 100;
}

.search-result div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;

}
.search-result div:hover{
  box-sizing: border-box;
  border-radius: 5px;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.search-result p {
  margin: 0;
}

.search-result button {
  background-color: #652A5F;
  border: none;
  color: white;
  width: 10vw;
  height: 4vh;
  border-radius: 10px;
}

.search-result button:hover {
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.icon-button {
  margin-right: 4vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #97A3AB;
  background: #343645;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
  background: #97A3AB;
  color: #343645;
}

.icon-button:active {
  background: #97A3AB;
}

.icon-button__badge {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 11px;
  height: 11px;
  background: #4D5DFA;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: smaller;
}

#log-out-button {
  display: inline-block;
  margin-right: 4vw;
}

#log-out-button input[type="submit"] {
  font-family: 'Inter';
  font-size: larger;
  font-weight: bolder;
  height: 35px;
  font-weight: 500px;
  background-color: #343645;
  border: none;
  color: #B0BEC5;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0s;
  cursor: pointer;
  border-radius: 7px;

}

#log-out-button input[type="submit"]:hover {
  background-color: #c42d1f;
}
@media screen and (max-width: 1400px) {
  #profile-pic{
    margin: 1.563rem;
  }
  #home{
    margin: 1.563rem;
  }
  #tasksAndBalances{
    margin: 1.563rem;
  }
  #messages{
    margin: 1.563rem;
  }
  #search-bar{
    margin-left: 6.25;
  }
  .icon-button{
    margin: 1.563rem;
  }
  #log-out-button{
    margin: 1.563rem;
  }
}
@media screen and (max-width: 1100px) {
  #profile-pic{
    margin: 10px;
  }
  #home{
    margin: 10px;
  }
  #tasksAndBalances{
    margin: 10px;
  }
  #messages{
    margin: 10px;
  }
  #search-bar{
    margin-left: 100px;
  }
  .icon-button{
    margin: 10px;
  }
  #log-out-button{
    margin: 10px;
  }
}

@media screen and (max-width: 900px) {
  #profile-pic{
    margin: 0px;
  }
  #home{
    margin: 0px;
  }
  #tasksAndBalances{
    margin: 0px;
  }
  #messages{
    margin: 0px;
  }
  #search-bar{
    margin: 0px;
  }
  .icon-button{
    margin: 0px;
  }
  #log-out-button{
    margin-left: 1px;
  }
}

/* Dropdown button */
.dropdown-btn {
  display: none;
  background-color: #343645;
  color: #fff;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}
/* Show nav links when dropdown button is clicked */
.nav-bar a.show {
  display: block;
}

#search-bar.show {
  display: block;
}
.icon-button.show {
  display: flex;
}
#log-out-button.show {
  display: block;
}

@media screen and (max-width: 700px) {
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
  /* Show the dropdown button */
  .dropdown-btn {
  display: flex;
  position: absolute;
  top: .75rem;
  right: 1rem;
  margin-top: 10px;
  float: right;
  }
  
  /* Hide all nav links */
  .nav-bar a, #search-bar, .icon-button, #log-out-button {
  display: none;
  }
}

.notification-icon {
position: relative;
}

#notification-container {
width: 23%; /* Adjust this value to suit your needs */
height: 50vh;
position: absolute;
top: 15vh;
right: 1%;
background-color: #333;
border: 1px solid #ccc;
border-radius: 15px; /* Adjust this value to make edges rounder */
padding: 10px;/* Initially hide the menu */
box-shadow: 0 2px 10px rgba(0,0,0,0.2);
overflow: auto;
z-index: 99;
}


.notification-section {
margin-top: 0px;
border-bottom: 1px solid #444;
}

.notification-section__title {
margin-bottom: 10px; /* Adjust this value to suit your needs */
font-weight: bold;

color: #fff;
}

.notification {
margin-bottom: 5px; /* Adjust this value to suit your needs */
background-color: #444;
padding: 10px;
border-radius: 5px;
}


.notification:last-child {
border-bottom: none;
}
/************************************* NAV BAR ***************************************/

/* New styles for search results */
/* New styles for search results */
main{
  display: flex;
  width: 100%;
}
.friends_list_container{
    color: white;
    width: 70%;
    min-width: 200px;
    min-height: 400px;
    margin-left:auto;
    margin-right:auto;

}
.friends-list {
  margin-left:auto;
  margin-right:auto;
  background-color: #1F222A;
  width:70%;
  border-radius: 20px;
  padding-left: 20px;
  padding-right:20px;
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  height: 65vh;
  overflow-y: hidden;
  position: relative;
}

.friends-list:hover {
  overflow-y: auto;
}

.friends-list::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

.friends-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.friends-list::-webkit-scrollbar-thumb {
  background-color: #343645;
  border-radius: 5px;
}

.friends-list::-webkit-scrollbar-thumb:hover {
  background-color: #343645;
}

.scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -6px;
  width: 6px;
  background-color: #1F222A;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.friends_list:hover .scrollbar {
  opacity: 1;
}

.friends_list_container h3 {
  text-align: center;
}

.friends_list p {
  width: calc(100% - 6px); /* take scrollbar width into account */
  height: 40px;
  padding-top: 20px;
  background-color: #442A65;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.remove-friend-form {
  margin-top: 20px;
}

.remove-friend-form:hover {
  cursor: pointer;
}

#search-status{
  position: absolute;
  left: 250px;
  top: 200px;
  color: #97A3AB;
}

#user-not-found{
    color: #97A3AB;
    position: absolute;
    left: 310px;
    top: 200px
}


button:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.search-box label{
    font-size: larger;
}

/*
#cancel-btn{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 500px;
    transform: translate(-50%, -50%);
}
*/

.friend-requests-container h3{
    text-align: center;
    color: white;
}
.friend-requests{
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  height: 65vh;
  border-radius: 20px;
}

.friend-request{
  margin-bottom:20px;
  min-width: 260px;
  padding: 2%;
  width: 100%;
  height: 8vh;
  background-color: #442A65;
  border-radius: 10px;
  color: white;
  text-indent: 20px;
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.friend-requests p {
  flex: 1;
  margin: 0;
}
.button-container{
  display: flex;
  justify-content: space-between;
  min-width: 155px;
}
.friend-requests button {
  border: none;
  min-width: 60px;
  background-color: #652A5F;
  color: white;
  width: 6vw;
  height: 4vh;
  border-radius: 10px;
}

.left-container{
  width: 50%;
}
.right-container{
  width: 50%;
}

.decline-request-form{
  padding-right: 5px;
}