body {
    font-family: 'Nunito', Arial, sans-serif; /* Changed from Arial, sans-serif to 'Nunito', Arial, sans-serif */
    margin: 0;
    padding: 0;
    background-color: #181a20;
    }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

  .profile-tab {
    background-color: #1f222a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    height: 100vh;
    overflow: auto;
    position: fixed;
    width: 35%;
  }

  .profile-picture {
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    margin-right: 10px;
    width: 100px;
  }

  .profile-name {
    display: inline-block;
    font-size: 24px;
    margin: 0;
    vertical-align: middle;
    color: #fff;
  }

  .profile-header {
    align-items: center;
    display: flex;
    margin: 40px 12%;
  }

  .profile-stats {
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
    padding: 0 5px;
    height: auto;
    align-items: center;
    position: relative;
    }

    .stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    }

    .stat-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    }

    .left-stat::before {
    border-right: 1px solid #F8F8F8;
    left: 0;
    }

    .right-stat::before {
    border-left: 1px solid #F8F8F8;
    right: 0;
    }

    .middle-line {
    position: absolute;
    border-left: 1px solid #F8F8F8;
    height: 100%;
    left: 50%;
    }

    .stat-number {
    display: block;
    font-size: 20px;
    color: #4D5DFA;
    }

    .stat-label {
    display: block;
    font-size: 18px;
    color: #fff;
    }

    .profile-button {
    background-color: #343645;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px; /* Changed from 18px to 14px */
    padding: 11px 30px;
    }

    .profile-button-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 20px 20px;
    }


    .button-container {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    padding-bottom: 20px;
    }

    .edit-button, .settings-button {
    margin-top: 10px;
    }

    .list-container {
    margin: 20px 0;
    width: 65%;
    }

    .list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .list-container li {
    font-size: 24px; /* Changed from 18px to 24px */
    margin: 50px 40px;
    color: #fff;
    }

    .list-container a {
    color: #fff; /* Added to make the link color white */
    text-decoration: none; /* Added to remove the underline */
    }
    .list-container i {
    margin-right: 20px; /* Added to create space between the icon and the item */
    }


    .logout-button {
    background-color: #652a5f;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 20px auto; /* Updated to center the button horizontally and add top margin */
    padding: 15px 30px; /* Increased padding to make the button bigger */
    display: block; /* Added to enable centering using 'margin: auto' */
    }