body{
    background: #181A20;
    font-family: 'Nunito';
}

.page{
    padding-top: 200px;
}

input{
    height: 43px;
    width: 304px;
    background-color: #EDEFFF;
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #EDEFFF;
    text-align: center;
}

button{
    height: 43px;
    width: 304px;
    background-color: #4D5DFA;
    color:#EDEFFF;
    border-radius: 20px;
    border: 1px solid #4D5DFA;
}

.register-title{
    color:white;
    text-align: center;
    font-size: 25px;
    
}


.form{
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: center;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    border-radius: 15px;
    
}

.footer{
    text-align: center;
}